html {
    font-family: Roboto;
}

* {
    box-sizing: border-box;
}

header {
    width: 70%;
    margin: 0 auto;
}

.main-index {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    min-width: 300px;
    width: 70%;
}

.header-of-page {
    height: 71px;
    font-style: normal;
    font-size: 35px;
    color: #000000; 
    margin-left: 35px;
    margin-bottom: 0px;
    min-width: 600px;
}

.coin-box {
    position: relative;
    width: 50%;
    min-width: 372px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
}

.image-box-for-main-page {
    position: relative;
    width: 172px;
    height: 172px;
}

.coin-box img {
    min-width: 172px;
    height: 172px;
}

.discount-background {
    position: absolute;
    top: 31px;
    right: 24px;
    bottom: 97.03px;
    left: 104.17px;
    width: 43.83px;
    height: 43.97px;
    background: #833AE0;
    border-radius: 100%;
}

.percentage {
    position: absolute;
    top: 13px;
    right: 3px;
    bottom: 6.97px;
    left: 5.83px;
    width: 35px;
    height: 24px;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    margin: 0px;
    padding: 0px;
}

.coin-box-text {
    height: 120px;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    line-height: 19px;
}

.coin-box-text-info {
    min-width: 150px;
    margin: 0px;
}

.header-of-coin {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #833AE0;
    margin: 0px 0px 7px 0px;
    padding: 0px;
}

.header-of-coin a {
    text-decoration: none;
    color: #833AE0;
}

.coin-box-price {
    height: 120px;
    font-style: normal;
    font-size: 16px;
    font-weight: bold;
    line-height: 123.4%;
    margin: 0px;
    padding: 0px;
}

.discounted-price {
    margin: 0px;
    padding: 0px;
}

.price-before-discount {
    color: #bcbcbc;
    font-weight: normal;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}

/* second-page-css */

.second-page-main {
    display: flex;
    max-width: 920px;
    min-width: 600px;
    margin: 0 auto;
    position: relative;
    top: 24px;
}

.image-box {
    width: 50%;
    position: relative;
}

.front {
    position: absolute;
    top: -50px;
    width: 100%;
}

.front:hover + .back {
    display: block;
}

.back {
    display: none;
    position: absolute;
    width: 100%;
    top: -50px
}

.block-info {
    position: relative;
    width: 50%;
    background: rgba(196, 196, 196, 0.5);
    min-height: 672px;
    padding: 18px 44px 44px;
}

.coin-name {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 0px;
}

.gray-text {
    color: rgb(160, 160, 160);
    width: 60px;
    font-size: 10px;
}

.serial-number {
    display: inline;
    font-size: 11px;
}

.p-info-text {
    font-size: 14px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.p-gray-text {
    font-size: 5px;
}

.price {
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
}

tr:nth-child(2n-1) {
    background: rgba(255, 255, 255, 0.9);
}

table {
    border-collapse: collapse;
    font-style: normal;
    font-weight: normal;
    width: 100%;
    font-size: 10px;
    line-height: 105.2%;
}

td {
    width: 50%;
    height: 20px;
}

td:first-child {
    border-right: 0.5px solid #B1ABAB;
}

tr {
    border-bottom: 0.5px solid #B1ABAB;
}

tr:last-child {
    border: none;
}

.go-to-back {
    text-decoration: underline;
    font-size: 12px;
    position: relative;
    display: block;
    top: 15%;
}

.block-info a {
    position: absolute;
    bottom: 35px;
    font-size: 12px;
}